# system files
.DS_Store
.terraform
bin
.vscode
.awcache

# environment
.env
.env.local
.env.production

# outputs
frontend/public/app/*
blockchain/typechain-types/*
blockchain/cache/*
blockchain/artifacts/*
build
dist

# dependencies
node_modules

# Backend local secrets
backend/.dev.vars
backend/node_modules/
backend/.wrangler/

# Game
game/node_modules/
game/dist/

